{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block pageTitle %}Mes projets{% endblock %}

{% block body %}
    {% for work in works %}
    <div class="card mb-4" style="width: 18rem;">
        <img class="card-img-top" src="/assets/images/works/{{ work.background }}.webp" alt="Card image cap">
        <div class="card-body" style="flex-grow: 1;">
          <h5 class="card-title">{{ work.title }}</h5>
          <p class="card-text">{{ work.projectTitle}}</p>
          <a href="/works/edit/{{ work.id }}" class="btn btn-primary">Editer</a>
          <a href="/works/delete/{{ work.id }}" class="btn btn-danger">Supprimer</a>
          
        </div>
    </div>
    {% endfor %}
{% endblock %}
